<div class='container-fluid'>
	<h1>Hello, <%= current_user.full_name %></h1>
	<div class="pending-homepage row">
		<%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
	</div>

	<div class="pending-homepage">
	
	</div>
</div>