<div class='container-fluid'>
	<h2>Hello <%= current_user.full_name %></h2>
	<div class='row'>
	<% unless @pending_audit_confirmations.empty? %>
		<div class='pending-homepage employee-blocks'>
			<h3>Pending Confirmation</h3>
			<%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations }  %>
		</div>
	<% end %>

		<div class='pending-homepage employee-blocks'>
			<%= link_to "Request Overtime Approval", new_post_path, class: 'btn btn-primary bnt-block btn-lg' %>
		</div>

	</div>	
</div>
